@use 'variables/colors'
@use 'variables/font'
@use 'variables/images'

@import 'skills'

.about-me
    h3
        font-weight: 700
        font-size: 26px
        color: colors.$yellow-color
    ul
        list-style: none
        padding: 0
        li
            margin-bottom: 20px
            display: flex
            align-items: center
        strong
            margin-right: 10px
        i
            font-size: 16px
            margin-right: 5px
            color: colors.$yellow-color
            line-height: 0

    p
        &:last-child
            margin-bottom: 0

.img-fluid
    max-width: 100%
    height: auto