@use 'variables/colors'
@use 'variables/font'
@use 'variables/images'

@import 'animations/transactions'

body
    font-family: "Open Sans", sans-serif
    background-size: contain
    background-color: images.$img-background
    color: colors.$lite-color
    position: relative
    background: transparent
    &::before
        content: ""
        position: fixed
        background: images.$img-background top right no-repeat
        background-size: cover
        left: 0
        right: 0
        top: 0
        height: 100vh
        z-index: -1

a
    color: colors.$yellow-color
    text-decoration: none

h1,
h2,
h3,
h4,
h5,
h6
    font-family: font.$font-family-raleway

section
    overflow: hidden
    position: absolute
    width: 100%
    top: 140px
    bottom: 100%
    opacity: 0
    transition: ease-in-out 0.4s
    z-index: 2
    &.section-show
        top: 10px
        bottom: auto
        opacity: 1
        padding-bottom: 45px
    .container
        background: colors.$black-color
        opacity: 0.9
        padding: 30px
        margin-right: auto
        margin-left: auto

.header
    transition: ease-in-out 0.3s
    position: relative
    height: 100vh
    display: flex
    align-items: center
    z-index: 997
    overflow-y: auto
    h1
        font-size: clamp(40px, 8vw, 70px)
        margin: 0
        padding: 0
        line-height: 1
        font-weight: 700
        font-family: font.$font-family-poppins
    h2
        font-size: 44px
        margin-top: 20px
        color: colors.$lite-color
        span
            color: colors.$lite-color
            border-bottom: 2px solid colors.$yellow-color
            padding-bottom: 6px
    h3
        font-size: 16px
        margin-top: 20px
        color: colors.$lite-color
    .container
        padding: 0px 100px
    *
        transition: ease-in-out 0.3s

.header-buttom
    height: 80px
    position: fixed
    left: 50%
    bottom: 0
    background: colors.$background-color
    padding: 0.1rem
    display: grid
    align-content: center
    border-radius: 1.25rem 1.25rem 0 0
    transition: .4s
    transform: translate(-50%, 0%)
    h1,h2,h3
        display: none
    .container
        display: flex
        align-items: center
    .navbar
        margin: 0
.row
    $bs-gutter-x: 1.5rem
    $bs-gutter-y: 0
    display: flex
    flex-wrap: wrap
    margin-top: calc(-1 * $bs-gutter-y)
    margin-right: calc(-.5 * $bs-gutter-x)
    margin-left: calc(-.5 * $bs-gutter-x)

.col-lg-4
    flex: 0 0 auto
    width: 33.33333333%

.col-lg-8
    flex: 0 0 auto
    width: 66.66666667%

.col-lg-6
    flex: 0 0 auto
    width: 50%

.pt-lg-0
    padding-top: 0 !important

.mt-2
    margin-top: .5rem !important

.col-lg-12
    flex: 0 0 auto
    width: 100%

.display-block
    display: inline-block

.d-flex
    display: flex !important

.justify-content-center
    justify-content: center !important

.section-title
    h2
        font-size: 14px
        font-weight: 500
        padding: 0
        line-height: 1px
        margin: 0 0 20px 0
        letter-spacing: 2px
        text-transform: uppercase
        color: colors.$white-color
        font-family: font.$font-family-poppins
        &::after
            content: ""
            width: 120px
            height: 1px
            display: inline-block
            background: colors.$yellow-color
            margin: 4px 10px
    p
        margin: 0
        margin: -15px 0 15px 0
        font-size: 36px
        font-weight: 700
        text-transform: uppercase
        font-family: font.$font-family-poppins
        color: colors.$white-color

.relative
    position: relative

.overflow-y-hidden
    overflow-y: hidden

.none
    display: none
